/* Ban.css */
.banner-container {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
}

.banner {
  width: 100%;
  overflow: hidden;
}

.ani-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}
